### Author: Carmen Alonso Martínez

<h1>Introduction to Pandas Python</h1>

<p><strong>Welcome!</strong> This notebook will teach you about using <code>Pandas</code> in the Python Programming Language. By the end of this lab, you'll know how to use <code>Pandas</code> package to view and access data.</p>

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li><a href="dataset">About the Dataset</a></li>
        <li><a href="pandas">Introduction of <code>Pandas</code></a></li>
        <li><a href="data">Viewing Data and Accessing Data</a></li>
        <li><a href="quiz">Quiz on DataFrame</a></li>
    </ul>
    <p>
        Estimated time needed: <strong>15 min</strong>
    </p>
</div>

<hr>

<h2 id="dataset">About the Dataset</h2>

The table has one row for each album and several columns

<ul>
    <li><b>artist</b>: Name of the artist</li>
    <li><b>album</b>: Name of the album</li>
    <li><b>released_year</b>: Year the album was released</li>
    <li><b>length_min_sec</b>: Length of the album (hours,minutes,seconds)</li>
    <li><b>genre</b>: Genre of the album</li>
    <li><b>music_recording_sales_millions</b>: Music recording sales (millions in USD) on <a href="http://www.song-database.com/">[SONG://DATABASE]</a></li>
    <li><b>claimed_sales_millions</b>: Album's claimed sales (millions in USD) on <a href="http://www.song-database.com/">[SONG://DATABASE]</a></li>
    <li><b>date_released</b>: Date on which the album was released</li>
    <li><b>soundtrack</b>: Indicates if the album is the movie soundtrack (Y) or (N)</li>
    <li><b>rating_of_friends</b>: Indicates the rating from your friends from 1 to 10</li>
</ul>

You can see the dataset here:

<font size="1">
<table font-size:xx-small style="width:95%">
  <tr>
    <th>Artist</th>
    <th>Album</th> 
    <th>Released</th>
    <th>Length</th>
    <th>Genre</th> 
    <th>Music recording sales (millions)</th>
    <th>Claimed sales (millions)</th>
    <th>Released</th>
    <th>Soundtrack</th>
    <th>Rating (friends)</th>
  </tr>
  <tr>
    <td>Michael Jackson</td>
    <td>Thriller</td> 
    <td>1982</td>
    <td>00:42:19</td>
    <td>Pop, rock, R&B</td>
    <td>46</td>
    <td>65</td>
    <td>30-Nov-82</td>
    <td></td>
    <td>10.0</td>
  </tr>
  <tr>
    <td>AC/DC</td>
    <td>Back in Black</td> 
    <td>1980</td>
    <td>00:42:11</td>
    <td>Hard rock</td>
    <td>26.1</td>
    <td>50</td>
    <td>25-Jul-80</td>
    <td></td>
    <td>8.5</td>
  </tr>
    <tr>
    <td>Pink Floyd</td>
    <td>The Dark Side of the Moon</td> 
    <td>1973</td>
    <td>00:42:49</td>
    <td>Progressive rock</td>
    <td>24.2</td>
    <td>45</td>
    <td>01-Mar-73</td>
    <td></td>
    <td>9.5</td>
  </tr>
    <tr>
    <td>Whitney Houston</td>
    <td>The Bodyguard</td> 
    <td>1992</td>
    <td>00:57:44</td>
    <td>Soundtrack/R&B, soul, pop</td>
    <td>26.1</td>
    <td>50</td>
    <td>25-Jul-80</td>
    <td>Y</td>
    <td>7.0</td>
  </tr>
    <tr>
    <td>Meat Loaf</td>
    <td>Bat Out of Hell</td> 
    <td>1977</td>
    <td>00:46:33</td>
    <td>Hard rock, progressive rock</td>
    <td>20.6</td>
    <td>43</td>
    <td>21-Oct-77</td>
    <td></td>
    <td>7.0</td>
  </tr>
    <tr>
    <td>Eagles</td>
    <td>Their Greatest Hits (1971-1975)</td> 
    <td>1976</td>
    <td>00:43:08</td>
    <td>Rock, soft rock, folk rock</td>
    <td>32.2</td>
    <td>42</td>
    <td>17-Feb-76</td>
    <td></td>
    <td>9.5</td>
  </tr>
    <tr>
    <td>Bee Gees</td>
    <td>Saturday Night Fever</td> 
    <td>1977</td>
    <td>1:15:54</td>
    <td>Disco</td>
    <td>20.6</td>
    <td>40</td>
    <td>15-Nov-77</td>
    <td>Y</td>
    <td>9.0</td>
  </tr>
    <tr>
    <td>Fleetwood Mac</td>
    <td>Rumours</td> 
    <td>1977</td>
    <td>00:40:01</td>
    <td>Soft rock</td>
    <td>27.9</td>
    <td>40</td>
    <td>04-Feb-77</td>
    <td></td>
    <td>9.5</td>
  </tr>
</table></font>

<hr>

<h2 id="pandas">Introduction of <code>Pandas</code></h2>

In [1]:
# Dependency needed to install file 

#!pip install pandas
#!pip install xlrd

Requirement already satisfied: pandas in c:\users\usuario\anaconda3\lib\site-packages (1.0.5)
Requirement already satisfied: pytz>=2017.2 in c:\users\usuario\anaconda3\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: numpy>=1.13.3 in c:\users\usuario\anaconda3\lib\site-packages (from pandas) (1.18.5)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\usuario\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\usuario\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.15.0)
Requirement already satisfied: xlrd in c:\users\usuario\anaconda3\lib\site-packages (1.2.0)

In [3]:
# Import required library

import pandas as pd # Por convenio se abrevia a pd.

After the import command, we now have access to a large number of pre-built classes and functions. This assumes the library is installed; in our lab environment all the necessary libraries are installed. One way pandas allows you to work with data is a dataframe. Let's go through the process to go from a comma separated values (<b>.csv</b>) file to a dataframe. This variable <code>csv_path</code> stores the path of the <b>.csv</b>, that is  used as an argument to the <code>read_csv</code> function. The result is stored in the object <code>df</code>, this is a common short form used for a variable referring to a Pandas dataframe.

In [4]:
# Read data from CSV file

csv_path = 'dat/TopSellingAlbums.csv'
df = pd.read_csv(csv_path)

Obsérvese que df es un data.frame.

We can use the method <code>head()</code> to examine the first five rows of a dataframe:

In [5]:
# Print first five rows of the dataframe

df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

Fíjate que por defecto te devuelve las 5 primeras filas, únicamente (función head(), análogo a la función tail())

In [6]:
type(df)

pandas.core.frame.DataFrame

 We use the path of the excel file and the function <code>read_excel</code>. The result is a data frame as before:

In [6]:
# Read data from Excel File and print the first five rows

xlsx_path = 'dat/TopSellingAlbums.xlsx'

df = pd.read_excel(xlsx_path)
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,00:42:19,"pop, rock, R&B",46.0,65,1982-11-30,NaN,10.0
1,AC/DC,Back in Black,1980,00:42:11,hard rock,26.1,50,1980-07-25,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,00:42:49,progressive rock,24.2,45,1973-03-01,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,00:57:44,"R&B, soul, pop",27.4,44,1992-11-17,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,00:46:33,"hard rock, progressive rock",20.6,43,1977-10-21,NaN,8.0

There is another way to read excel files:

In [16]:
file_path = 'dat/'
file_name = 'sample_excel.xlsx'
complicated_excel = pd.ExcelFile(file_path+file_name)

In [17]:
type(complicated_excel)

pandas.io.excel._base.ExcelFile

Como no es un data.frame, no podemos hacerle un .head (sigue siendo un excel)

In [14]:
complicated_excel.head()

AttributeError: 'ExcelFile' object has no attribute 'head'

Una vez ejecutada la línea anterior hay que volver a la anterior a esa para que las próximas no den error.

In [18]:
complicated_excel.sheet_names

['Sheet1', 'Sheet2']

In [17]:
complicated_excel.parse('Sheet2')

   Col1_sq  Col2_sq  Col3_sq  Col4_sq  Col5_sq
0        1       16       49      100      169
1        4       25       64      121      196
2        9       36       81      144      225
3       16       49      100      169      256
4       25       64      121      196      289

In [19]:
type(complicated_excel.parse('Sheet1'))

pandas.core.frame.DataFrame

También se pueden leer archivos parsers con esta librería, de forma análoga a los anteriores. Aquí no entramos porque la profesora no tenía un archivo de ese tipo a mano.

<hr>

<h2 id="data">Viewing Data and Accessing Data</h2>

In [20]:
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

We can access the column <b>Length</b> and assign it a new dataframe <b>x</b>:

In [24]:
# Access to the column Length

x = df[['Length']]
x

    Length
0  0:42:19
1  0:42:11
2  0:42:49
3  0:57:44
4  0:46:33
5  0:43:08
6  1:15:54
7  0:40:01

In [25]:
type(df[['Length']])

pandas.core.frame.DataFrame

You can also get a column as a series. You can think of a Pandas series as a 1-D dataframe. Just use one bracket:

In [26]:
# Access to the column Length

x = df['Length']
x

0    0:42:19
1    0:42:11
2    0:42:49
3    0:57:44
4    0:46:33
5    0:43:08
6    1:15:54
7    0:40:01
Name: Length, dtype: object

In [27]:
type(df['Length'])

pandas.core.series.Series

Aunque se parezcan, no hacen lo mismo y sus tipos son distintos, lo que hace que, por ejemplo, al segundo no se le pueda aplicar un head(), pero al primero sí porque sí que es un data.frame.

 The process is shown in the figure:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%204/Images/DataEgOne.png" width="750" />

In [26]:
# Get the column as a dataframe

print(type(df[['Length']]))
print(type(df['Length']))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

You can do the same thing for multiple columns; we just put the dataframe name, in this case, <code>df</code>, and the name of the multiple column headers enclosed in double brackets. The result is a new dataframe comprised of the specified columns:

In [28]:
# Access to multiple columns

y = df[['Artist','Length','Genre']]
y

            Artist   Length                        Genre
0  Michael Jackson  0:42:19               pop, rock, R&B
1            AC/DC  0:42:11                    hard rock
2       Pink Floyd  0:42:49             progressive rock
3  Whitney Houston  0:57:44               R&B, soul, pop
4        Meat Loaf  0:46:33  hard rock, progressive rock
5           Eagles  0:43:08   rock, soft rock, folk rock
6         Bee Gees  1:15:54                        disco
7    Fleetwood Mac  0:40:01                    soft rock

The process is shown in the figure:

<img src = "https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%204/Images/DataEgTwo.png" width="1100" />

In [34]:
y = df[['Artist', 'Length','Genre']]
y

            Artist    Length                        Genre
0  Michael Jackson  00:42:19               pop, rock, R&B
1            AC/DC  00:42:11                    hard rock
2       Pink Floyd  00:42:49             progressive rock
3  Whitney Houston  00:57:44               R&B, soul, pop
4        Meat Loaf  00:46:33  hard rock, progressive rock
5           Eagles  00:43:08   rock, soft rock, folk rock
6         Bee Gees  01:15:54                        disco
7    Fleetwood Mac  00:40:01                    soft rock

One way to access unique elements is the <code>iloc</code> method, where you can access the 1st row and the 1st column as follows:

You can access the 1st row as follows:

In [33]:
# Access the column using the name

df.iloc[0] # Devuelve la información de la fila 0.

Artist                              Michael Jackson
Album                                      Thriller
Released                                       1982
Length                                      0:42:19
Genre                                pop, rock, R&B
Music Recording Sales (millions)                 46
Claimed Sales (millions)                         65
Released.1                                30-Nov-82
Soundtrack                                      NaN
Rating                                           10
Name: 0, dtype: object

In [34]:
type(df.iloc[0])

pandas.core.series.Series

Una serie es el equivalente a una lista en el paquete pandas.

In [35]:
# Access the value on the first row and the first column

df.iloc[0, 0] # El primer valor es el de la fila que estamos examinando y el segundo el número del elemento dentro de esa fila.

'Michael Jackson'

You can access the 2nd row and the 1st column as follows:

In [36]:
# Access the value on the second row and the first column

df.iloc[1,0]

'AC/DC'

You can access the 1st row and the 3rd column as follows:

In [37]:
# Access the value on the first row and the third column

df.iloc[0,2]

1982

You can access the column using the name as well, the following are the same as above:

In [38]:
# Access the column using the name

df.loc[0, 'Artist'] # Obsérvese que para usar el nombre utilizamos loc, no iloc. (Véase la siguiente línea de código)

'Michael Jackson'

In [39]:
df.iloc[0,'Artist']

ValueError: Location based indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types

In [40]:
# Access the column using the name

df.loc[1, 'Artist']

'AC/DC'

In [41]:
# Access the column using the name

df.loc[0, 'Released']

1982

In [42]:
# Access the column using the name

df.loc[1, 'Released']

1980

You can perform slicing using both the index and the name of the column:

In [27]:
# Slicing the dataframe

df.iloc[0:2, 0:3]

            Artist          Album  Released
0  Michael Jackson       Thriller      1982
1            AC/DC  Back in Black      1980

In [28]:
# Slicing the dataframe using name

df.loc[0:2, 'Artist':'Released']

            Artist                      Album  Released
0  Michael Jackson                   Thriller      1982
1            AC/DC              Back in Black      1980
2       Pink Floyd  The Dark Side of the Moon      1973

In [47]:
df['Released']>=1980 # Esto es un pd Series.

0     True
1     True
2    False
3     True
4    False
5    False
6    False
7    False
Name: Released, dtype: bool

In [46]:
df.loc[df['Released']>=1980] # Hay que usar el pd Series en la condición.

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5

In [44]:
df[['Released']] # Veamos qué ocurre si uso el df en lugar del pd Series en la condición.

   Released
0      1982
1      1980
2      1973
3      1992
4      1977
5      1976
6      1977
7      1977

In [50]:
df.loc[df[['Released']]>=1980] # Obsérvese que no funciona.

ValueError: Cannot index with multidimensional key

In [58]:
df.loc[(df['Released']>=1980)] # Parece que el paréntesis no ha influido en nada.

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5

### OJO CON LOS ÍNDICES!!

In [59]:
df

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0
5,Eagles,Their Greatest Hits (1971-1975),1976,0:43:08,"rock, soft rock, folk rock",32.2,42,17-Feb-76,NaN,7.5
6,Bee Gees,Saturday Night Fever,1977,1:15:54,disco,20.6,40,15-Nov-77,Y,7.0
7,Fleetwood Mac,Rumours,1977,0:40:01,soft rock,27.9,40,04-Feb-77,NaN,6.5

In [60]:
df2 = df.sort_values('Music Recording Sales (millions)')
df2

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0
6,Bee Gees,Saturday Night Fever,1977,1:15:54,disco,20.6,40,15-Nov-77,Y,7.0
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
7,Fleetwood Mac,Rumours,1977,0:40:01,soft rock,27.9,40,04-Feb-77,NaN,6.5
5,Eagles,Their Greatest Hits (1971-1975),1976,0:43:08,"rock, soft rock, folk rock",32.2,42,17-Feb-76,NaN,7.5
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0

Obsérvese que los índices originales se conservan.

In [61]:
df2.loc[0]

Artist                              Michael Jackson
Album                                      Thriller
Released                                       1982
Length                                      0:42:19
Genre                                pop, rock, R&B
Music Recording Sales (millions)                 46
Claimed Sales (millions)                         65
Released.1                                30-Nov-82
Soundtrack                                      NaN
Rating                                           10
Name: 0, dtype: object

Coge la información de la fila cuyo índice es 0. Además, puedes llamar a un dato escribiendo el nombre de la columna a la que pertenece en vez de a su posición en la fila. 

Estas son las dos particularidades de loc con respecto a iloc.

In [62]:
df2.iloc[0]

Artist                                                Meat Loaf
Album                                           Bat Out of Hell
Released                                                   1977
Length                                                  0:46:33
Genre                               hard rock, progressive rock
Music Recording Sales (millions)                           20.6
Claimed Sales (millions)                                     43
Released.1                                            21-Oct-77
Soundtrack                                                  NaN
Rating                                                        8
Name: 4, dtype: object

Coge la información de la fila que se encuentra físicamente en la posición 0 (aunque su índice no sea el 0 porque, por ejemplo, hayamos ordenado la tabla, que es lo que pasa aquí).

In [63]:
df.index

RangeIndex(start=0, stop=8, step=1)

In [65]:
df2.index

Int64Index([4, 6, 2, 1, 3, 7, 5, 0], dtype='int64')

<hr>

<h2 id="quiz">Quiz on DataFrame</h2>

Use a variable <code>q</code> to store the column <b>Rating</b> as a dataframe

In [45]:
# Write your code below and press Shift+Enter to execute

q = df2[['Rating']]
q

   Rating
4     8.0
6     7.0
2     9.0
1     9.5
3     8.5
7     6.5
5     7.5
0    10.0

In [46]:
type(q)

pandas.core.frame.DataFrame

Double-click __here__ for the solution.

<!-- Your answer is below:
q = df[['Rating']]
q
-->

Assign the variable <code>q</code> to the dataframe that is made up of the column <b>Released</b> and <b>Artist</b>:

In [ ]:
# Write your code below and press Shift+Enter to execute

In [48]:
q = df2[['Released','Artist']]
q

   Released           Artist
4      1977        Meat Loaf
6      1977         Bee Gees
2      1973       Pink Floyd
1      1980            AC/DC
3      1992  Whitney Houston
7      1977    Fleetwood Mac
5      1976           Eagles
0      1982  Michael Jackson

In [49]:
type(q)

pandas.core.frame.DataFrame

Double-click __here__ for the solution.

<!-- Your answer is below:
q = df[['Released', 'Artist']]
q
-->

Access the 2nd row and the 3rd column of <code>df</code>:

In [51]:
# Write your code below and press Shift+Enter to execute

df.iloc[1,2]

1980

Double-click __here__ for the solution.

<!-- Your answer is below:
df.iloc[1, 2]
-->

<hr>

<p>Copyright &copy; 2018 IBM Developer Skills Network. This notebook and its source code are released under the terms of the <a href="https://cognitiveclass.ai/mit-license/">MIT License</a>.</p>